// contains all styles within a grid (including its buttons)
// ----- common grids -----
.k-grid {
  border: none !important;
  background: unset;

  & .k-grid-toolbar {
    border-bottom-width: 0px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    /*height: 30px;*/
    padding: 0px !important;

    & .grid-header {
      font-size: 0.97rem;
      padding: 4px 30px;
      background-color: #1f2a44;
      color: #ffffff;
      /*height: 30px;*/
      display: inline-block;
      border-top-left-radius: 10px !important;
      border-top-right-radius: 10px !important;
      box-shadow: -2px 0px 2px 0px #adadad, 2px 0px 2px 0px #adadad;
    }
    // grid dropdown alignment (move to comps?)
    & kendo-dropdownlist.form-control.k-widget.k-dropdown {
      top: 0px;
    }
  }
  // Table contents excluding headers (dropshadow)
  & .k-grid-aria-root {
    box-shadow: 0px 1px 6px 1px #949494;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #c9c9c9 !important;
    border: .5px solid #ababab !important;
    z-index: 1;
  }
  // for grids inside cards
  &.extra-grid-space {
    margin-top: 12px;
  }

  & td {
    padding: 5px 6px !important;

    &[aria-label="Filter"] {
      background-color: #c9c9c9;
      border-color: rgba(0, 0, 0, 0.07);
    }

    &.k-group-cell {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
  // grid row color
  & tr {
    background-color: #f7f7f7;

    &.k-grouping-row {
      background-color: #efefef;
    }
  }
  // grid table headers
  & th {
    color: #000000;
    background-color: #c9c9c9;
    font-size: .8rem;
    padding: .1rem 0 .1rem .3rem !important;
    /*border-width: .25px .25px .75px .75px !important;*/
    /*&:first-child {
      border-left-width: .4px !important;
    }*/
  }
  // alternating grid rows color
  & .k-alt {
    background-color: #f2f2f2 !important;
  }
  // grid row hover color
  & tbody tr:hover, .k-grid tbody tr.k-state-hover {
    background-color: #d9d9d9 !important;
  }
  // Filter areas (Project Search)
  & .k-filter-row td {
    & .k-numerictextbox .k-numeric-wrap {
      height: 20px;
    }

    & .k-filter-row td .k-numerictextbox .k-link {
      margin: -2px 0 -2px 0px;
    }

    & .k-dropdown .k-dropdown-wrap {
      height: 20px !important;
      width: 24px;

      & .k-select {
        padding: 1px;
        height: 18px;
        width: 22px;
      }
    }
  }
  // grid footer pager
  & .k-grid-pager {
    color: #ffffff !important;
    background-color: $action-c !important;
    font-size: 10px !important;
    padding: 12px 4px 4px !important;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    position: relative;
    top: 0px;
    box-shadow: 0px 1px 6px 1px #949494;

    & a.k-link.k-pager-nav.k-state-disabled {
      background-color: #a1a1a1;
    }
  }
  // ----- Grid btns -----
  @mixin gridBtns {
    font-size: .8rem;
    height: 20px;
    margin-top: -1px;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset, 0 2px 0 -1px rgba(0, 0, 0, 0.13), 0 3px 0 -1px rgba(0, 0, 0, 0.08), 0 3px 13px -1px rgba(0, 0, 0, 0.21), 0px 1px 1px 1px #adadad;
  }

  .add-grid-button {
    @include gridBtns;
  }

  .done-grid-button {
    @include gridBtns;
    background-color: $btn-green !important;

    &:hover {
      background-color: $btn-green-hover !important;
    }
  }

  .cancel-grid-button {
    @include gridBtns;
    background-color: $btn-red !important;

    &:hover {
      background-color: $btn-red-hover !important;
    }
  }

  & .btn-edit, & .btn-download, & .btn-delete, & .btn-view {
    width: 29px;
  }

  & .btn-download {
    background-color: $btn-green !important;

    &:hover {
      background-color: darken($btn-green, 7%) !important;
    }
  }

  & .btn-bs {
    padding: 0px 5.5px !important;

    &:hover {
      background-color: $action-c-hover;
    }
  }

  & .btn-delete {
    background-color: $icon-trash-c !important;

    &:hover {
      background-color: $icon-trash-c-hover !important;
    }
  }
  //Fix and apply hover
  & .btn-view {
    background-color: #749caf !important;
  }

  & .btn-calc-grid {
    height: 20px;
    padding: 2px 6px;
    font-size: 13px;
    line-height: 12.5px;
    float: right;
  }

  & .btn-calc-grid {
    background-color: #009969;
  }

  & .btn.btn-calc-grid:hover {
    background-color: #006243;
  }

  & .btn.btn-calc-grid:hover[disabled] {
    background-color: #000000;
    border-color: #000000;
  }

  & .k-grid-footer td {
    background-color: #e0e0e0;
  }
}

/*.k-filter-row {
  background: ; // need to color
}*/

// ----- Grid Components (inputs, textboxes and more) -----
.k-grid-edit-row {
  & .k-widget.form-control .k-input {
    padding: 0 4px 0 4px;
    height: 1.3rem !important;
  }

  & .k-dropdown .k-dropdown-wrap {
    height: 1.4rem;
  }

  & .k-numerictextbox .k-numeric-wrap {
    height: 1.4rem;
  }
  /*& .k-textbox {
    height: 1.4rem;
    width: 100%;
    padding: 0 0 0 3px;
  }*/
}

//grid add, done, cancel btns
.table-button {
  text-align: right;

  & .grid-btn-bg {
    padding: 3px 6.2px;
    margin-top: 1px;
    background-color: #c9c9c9;
    box-shadow: 4px 1px 8px -2px #adadad;
    border: .5px solid #ababab;
    height: 29.8px;
    width: auto;
    min-width: 43.76px;
    display: inline-block;
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;

    & .grid-inline-input {
      display: inline-flex;
      padding: 0px 5px 0px 0px;

      & kendo-dropdownlist.k-widget.k-dropdown {
        width: 400px;
        margin-top: 1px;
      }

      & label {
        padding: 0px 3px 0px 0px;
        width: unset;
      }
    }
  }
  // Apply extend?
  & .btn {
    height: 20px;
    padding: 0px 10px;
    font-size: .8rem;
    line-height: 1px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);

    & i.fas.fa-compress-arrows-alt {
      position: relative;
      font-size: 13px;
      top: 1px;
    }

    & + .btn {
      margin-left: 5px !important;
    }
    // Img size adjusted
    & img {
      height: 10px;
      width: 10px;
      margin: 2px auto;
      filter: drop-shadow(1px 1px 0px #616161);
    }
  }
  //Grid btns in grids
  & .w-grid-header-btn {
    padding-bottom: 3px !important;
  }
}

// Ellipsis for Negotiator Notes on RE60
.neg-notes {
  max-width: 488px;
  min-width: 488px;

  & span {
    white-space: nowrap;
  }
}
// ----- reqired fields styles for grids -----
.k-grid-edit-row .k-required, .custom-table .k-required, .custom-grid .k-required {
  color: $white-c !important;
  opacity: 1 !important;
  font-size: 0.7rem !important;
  padding: 2px 1px;
}

// ----- custom grid -----
.custom-table .k-popup:after, .custom-grid .k-popup:after {
  top: 100%;
  left: 50%;
  right: unset;
  bottom: unset;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: $red-c;
  border-width: 6px;
  margin-left: -6px;
}

.custom-table .k-required, .custom-grid .k-required {
  color: $white-c;
  opacity: 1;
  font-size: 0.7rem;
  padding: 2px 1px;
}

.custom-table .k-popup, .custom-grid .k-popup {
  position: relative;
  background: $red-c;
  border-radius: 6px;
  margin: 0px 0 5px 0;
}

////////////////////////////////// go through ///////////////////////////////////
// Rows 1 through n-1 on table (Bottom Popup)
.k-grid-edit-row .k-popup {
  position: relative;
  background: $red-c;
  border-radius: 6px;
  margin: 5px 0 0 0;

  & :after {
    bottom: 100%;
    left: 20px;
    right: unset;
    top: unset;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: $red-c;
    border-width: 6px;
    margin-left: -6px;
  }
}

// Last row in a table (Top popup)
.k-grid tr:last-child .k-popup {
  position: relative;
  background: $red-c;
  border-radius: 6px;
  margin: 0px 0 5px 0;

  & :after {
    top: 100%;
    left: 50%;
    right: unset;
    bottom: unset;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: $red-c;
    border-width: 6px;
    margin-left: -6px;
  }
}

// Only one row in tables (Right popup)
.k-grid-content tr:only-child .k-popup {
  margin: 4.7px 0px 4px 5px !important;

  &:after {
    right: 100% !important;
    top: 48% !important;
    left: unset !important;
    border: solid transparent !important;
    border-right-color: $red-c !important;
    border-width: 6px !important;
    margin-top: -6px !important;
  }
}

// Only one row and last column (Left Popup)
.k-grid-content tr:only-child .lastCol .k-popup {
  position: relative;
  background: $red-c;
  margin: 4.7px 5px 4px 0px !important;

  &:after {
    left: 112% !important;
    top: 50% !important;
    right: unset !important;
    border: solid transparent !important;
    border-left-color: $red-c !important;
    border-width: 6px !important;
    margin-top: -6px !important;
  }
}

//Take out. This is old RealOS code
app-find-agreement-page .k-grid .k-grid-aria-root,
app-find-encumbrance-page .k-grid .k-grid-aria-root,
app-user-search .k-grid .k-grid-aria-root,
app-consultant-prequal-list .k-grid .k-grid-aria-root,
app-employee-prequal-list .k-grid .k-grid-aria-root,
app-find-vendor-page .k-grid .k-grid-aria-root {
  z-index: 1;

  & button.k-button.k-button-icon.k-clear-button-visible {
    padding: 0px;
    margin: 0px !important;
    width: 20px;
  }

  & tr.k-filter-row td {
    padding: 3px !important;
  }

  & kendo-grid-filter-cell-operators.k-filtercell-operator {
    width: 20px !important;
  }

  & input.k-textbox {
    padding: 1px 2px !important;
  }

  & kendo-dropdownlist.k-dropdown-operator.k-widget.k-dropdown.k-header {
    display: none;
  }
  // Come back to this if the above doesn't work
  /*& kendo-grid-filter-cell-operators.k-filtercell-operator {
    display: none;
  }*/
}

////////////////////////////////// move to components ////////////////////////////////////
// unit mesurements (Acres, sq. feet and such on VA and RE22)
.unit-wrap {
  display: flex !important;
  width: 100%;
  position: relative;
  top: 1px;

  & .unit-text {
    width: unset;
    height: 22.5px;
    padding-right: 2px;
    font-size: 0.75rem;
    border: 1px solid #ced4da;
    background: white;
    border-radius: 0 0.25rem 0.25rem 0;
    margin-left: -5px;
    margin-top: -1px;
    z-index: 10;
    padding-left: 2px;
    white-space: nowrap;
    padding-top: 1px;
    line-height: 21px;
  }

  & .k-numerictextbox {
    height: 23px !important;
  }
}

.btn-calc {
  margin: 26px 5px 0px 0px !important;
  height: 21px;
  line-height: 14px !important;
  font-size: 14px !important;
}

.btn-calc:hover {
  background-color: #006243;
}

.btn-calc:hover[disabled] {
  background-color: #000000;
  border-color: #000000;
}

//////////////////////// Unused Styles? /////////////////////////////////
// Command buttons in grid
/*.btn.k-grid-remove-command .k-icon.k-i-delete,
.btn.k-grid-remove-command .k-icon.k-i-edit {
  filter: drop-shadow( 0px 0px 0px #616161);
  font-size: 1.1rem;
  bottom: 1px;
  left: 0.5px;
}*/

// Shouldnt need ecause of default active btn styles
/*.table-button .btn:active, .tbale-button .btn.active {
  top: 1px;
  background-color: #017e9c;
  border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21) rgba(0, 0, 0, 0.21);
  box-shadow: 0 1px 0 rgba(31, 42, 68, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset !important;
  position: relative;
}*/

// Center Grid Headers
/*.centered-grid .k-grid-header .k-header {
  text-align: center;
}*/

/*.grid-header-btn {
  border: none;
  background: none;
  box-shadow: none;
  padding: 3px 7.5px 0px;
}*/

// for multiselects in grids ???
/*kendo-multiselect.k-widget.k-multiselect {
  display: block;
  margin: 0px;
}
.k-grid kendo-multiselect.k-widget.k-multiselect {
  width: 530px;
  margin-right: -191px;
}*/

// Textbox fix
/*.k-grid-edit-row td .k-textbox {
  height: 1.4rem;
  margin: 0;
  padding: 0px 5px;
}*/

/*button.btn.k-button.k-grid-edit-command {
  width: 29px;
}*/

/*.grid-btn-maint {
  padding: 0px 5.7px;
  height: 32.5px;
  margin: 5px 0px 0px 0px;
}*/
