################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ODOT.ARMS.Web.UnitTests/obj
/ODOT.ARMS.Web.UnitTests/bin/Debug/netcoreapp3.1
/.vs/VSWorkspaceState.json
/.vs
