<kendo-dialog [width]="566" [height]="250" *ngIf="this.parent.openSubContractorDialog" (close)="closeDialog()">
  <kendo-dialog-titlebar class="k-prjdata">Add Subcontractor</kendo-dialog-titlebar>
  <form class="k-form" [formGroup]="this.parent.oneForAllBudgetForm" (ngSubmit)="this.parent.saveForm()">
    <div class="row">
      <div class="col-6">
        <label for="phases">Phase <span class="k-field-info k-required">*</span></label>
        <kendo-dropdownlist name="phase"
                            [data]="this.parent.phases"
                            [defaultItem]="{text: 'Select Phase',value: null }"
                            [textField]="'text'"
                            [valueField]="'value'"
                            (valueChange)="this.parent.handlePhaseChange($event)"
                            required>
        </kendo-dropdownlist>
      </div>
      <div class="col-6">
        <label for="title" class="control-label">Title<span class="k-field-info k-required">*</span></label>
        <input kendoTextBox formControlName="title" required />
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-6">
        <label for="amount" class="control-label">
          Amount<span class="k-field-info k-required">*</span>
        </label>
        <input kendoTextBox formControlName="amount" required />
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="btn" tabindex="5" (click)="closeDialog()">Cancel</button>
    <button class="btn btn-margin-left" primary="true" tabindex="6" [disabled]="!this.parent.oneForAllBudgetForm.valid" (click)="this.parent.saveForm()">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
