.sidebar{
    height:200px;
   background-color:pink;
  }
  
  .main-content{
    height:500px;
   border:solid 1px olive;
   position: fixed;
   bottom: 0;
   left:300;
   right: 0;
   width: 300px;
   padding-left: 0px;
   
  }