<kendo-menu class="main-menu">
  <kendo-menu-item text="Administration" [disabled]="(activeTab$ | async) === 'Administration'">
    <ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
      <a [kendoMenuItemLink]="index" class="tall-menu" routerLink="admin-view" [class.selected]="activeTab === 'Administration'">
        Administration
      </a>
    </ng-template>
  </kendo-menu-item>

  
  <kendo-menu-item text="Notification" [disabled]="(activeTab$ | async) === 'Notification'">
    <ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
      <a [kendoMenuItemLink]="index" class="tall-menu" routerLink="admin-notification" [class.selected]="activeTab === 'Notification'">
        Notification
      </a>
    </ng-template>
  </kendo-menu-item>
  

</kendo-menu>

<router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
