.k-textbox {
  width: 100% !important;
}

.k-dropdown {
  width: 100% !important;
}

.k-content.k-window-content.k-dialog-content kendo-dropdownlist.k-widget.k-dropdown.k-header {
  width: 100% !important;
  padding-bottom: 0px;
}

k-form {
  font-size: -0.2rem;
}

/*.toast-success {
  background-color: yellowgreen;
}

.k-form .k-form-field > input, input.form-control, .k-textbox.form-control {
  height: 1.9rem;
}*/
