<app-fin-funding-list 
                      [funding]="fundings$ | async"
                      (selectFunding)="onSelectFunding($event)"
                      [fundingType]="fundingType$ | async"
                      [fundingSource]="fundingSource$ | async"
                      (selectFundingUpload)="onSelectUploadDoc($event)">
                      >
</app-fin-funding-list>

<app-fin-funding-save [selectedfunding]="selectedFunding$ | async"
                      [saveFundingDialogStatus]="saveFundingDialogStatus$ | async"
                      (setSaveFundingDialogStatus)="onSetSaveFundingDialogStatus($event)"
                      [fundingType]="fundingType$ | async"
                      [fundingSource]="fundingSource$ | async"
                      (saveFunding)="onSaveFunding($event)">
</app-fin-funding-save>


<app-upload-file-save [dlgTitle]="'Funding Documents Upload'"
                      [uploadDialogStatus]="uploadDialogStatus$ | async"
                      [projAltId]="(selectUploadSrc$ | async)?.projAltId"
                      [srcId]="(selectUploadSrc$ | async)?.srcId"
                      [uploadFiles]="uploads$ | async"
                      (setUploadEventDialogStatus)="onSetUploadDialogStatus($event)"
                      (updateUploadFiles)="onUploadFilesChange($event)"
                      (download)="onDownload($event)"
                      (updateFile)="onUpdateFileUpload($event)">
</app-upload-file-save>


